inputbar {
	enabled: false;
}

element-icon {
	size: 0;
}

element-text {
	font: "IosevkaTerm Nerd Font 20";
	horizontal-align: 0.5;
	vertical-align: 0.5;
}

listview {
	columns: 5;
	lines: 1;
	spacing: 0;
	padding: 10;
	margin: 0;
}
